@import "./variables.scss";
@import "./utilityStyle.scss";

html,
body {
  margin: 0;
}

// @font-face {
//   font-family: "Tangerine";
//   src: url("/assets/fonts/Tangerine/Tangerine-Regular.ttf") format("truetype");
//   font-style: normal;
//   font-weight: 400;
//   font-display: swap;
// }

// @font-face {
//   font-family: "Tangerine";
//   src: url("/assets/fonts/Tangerine/Tangerine-Bold.ttf") format("truetype");
//   font-style: normal;
//   font-weight: bold;
//   font-display: swap;
// }

// @font-face {
//   font-family: "Cormorant";
//   src: url("/assets/fonts/Cormorant/static/Cormorant-Regular.ttf")
//     format("truetype");
//   font-style: normal;
//   font-weight: 400;
//   font-display: swap;
// }

// @font-face {
//   font-family: "Cormorant";
//   src: url("/assets/fonts/Cormorant/static/Cormorant-bold.ttf")
//     format("truetype");
//   font-style: normal;
//   font-weight: bold;
//   font-display: swap;
// }

h1,
h2,
h3,
h4,
h5 {
  margin: 8px 0;
  font-family: "Garamond ";
}
body {
  font-family: Garamond;
  font-size: 16px;
  //   background-color: var(--background);
  color: var(--light);
  max-height: 100vh;
  overflow: hidden;
}

.game-container {
  position: relative; // to allow z-index to go over canvas
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 2;

  .splash-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 99;
    opacity: 0;
  }

  .game-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 90;
    opacity: 0;
    pointer-events: none; // so the overlay is not targeted by clicks
  }

  .fade {
    opacity: 0;
    animation: fade 1s linear;
  }

  @keyframes fade {
    0%,
    100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }

  .backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
  }

  .menu {
    display: flex;
    flex-direction: column;
    z-index: 10;
    position: absolute;
    left: 50%;
    //   top: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    .header {
      font-size: 1.5rem;
      padding: 16px 32px;
    }
    // button {
    //   color: inherit;
    //   padding: 16px 32px;
    //   font-size: 1.25rem;
    //   background-color: var(--brown);

    //   &:hover {
    //     color: var(--white);
    //     &:disabled {
    //       color: inherit;
    //     }
    //   }

    //   &:disabled {
    //     background-color: var(--darkgrey);
    //   }
    // }
    //   }
  }

  .card-container {
    // background-color: var(--brown);
    // background: linear-gradient(
    //   90deg,
    //   rgba(75, 38, 0, 1) 0%,
    //   rgba(150, 75, 0, 1) 75%,
    //   rgba(160, 80, 0, 1) 100%
    // );
    background: transparent;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    display: none;

    .card {
      width: 100px;
      height: 200px;
      max-height: 200px;
      overflow: hidden;
      // background-color: var(--white);
      border: 1px solid var(--darkgrey);
      border-radius: 4px;
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;

      background: linear-gradient(
        90deg,
        rgba(75, 38, 0, 1) 0%,
        rgba(150, 75, 0, 1) 75%,
        rgba(160, 80, 0, 1) 100%
      );

      &:hover {
        transform: translate(3px, -3px);
        box-shadow: -2px 2px 2px black;
      }

      &__title {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        text-align: center;
        font-size: 1.1rem;
        border-bottom: 1px solid var(--darkgrey);
        padding: 8px 16px;

        position: relative;
        min-height: 50px;
        max-height: 50px;

        &--cost {
          position: absolute;
          left: 1px;
          top: 1px;
          border: 1px solid var(--darkgrey);
          border-radius: 100%;
          padding: 4px;
        }

        &--discard {
          cursor: pointer;
          position: absolute;
          right: 1px;
          top: 1px;
          border: 1px solid var(--darkgrey);
          border-radius: 100%;
          padding: 4px;
          z-index: 2;

          &:hover {
            border: 1px solid black;
          }
        }
      }

      img {
        width: 100px;
        height: 100px;
        min-height: 100px;
        object-fit: fill;
        display: block;
        border-radius: 4px;
      }

      &__body {
        background-color: var(--white);
        width: 100%;
        height: 100%;
        padding: 8px;
        text-align: center;
      }
    }
  }
}

img {
  display: none;
}

canvas {
  position: fixed;
  /* pointerEvents = 'none'; */
  top: 0;
  left: 0;
  z-index: -1;
}

button {
  color: inherit;
  padding: 16px 32px;
  font-size: 1.25rem;
  background-color: var(--brown);
  border-radius: 4px;
  &:hover {
    color: var(--white);
    &:disabled {
      color: inherit;
    }
  }

  &:disabled {
    background-color: var(--darkgrey);
  }
}
