/* You can add global styles to this file, and also import other style files */
:root {
  --darkgrey: darkGrey;
  //   --lightblue: lightblue;
  --light: lightgrey;
  --white: white;
  //   --background: #1d2c51;

  --brown: #964b00;

  --card-width: 100px;
  --card-height: 200px;
}
