@import "./variables.scss";
@import "./utilityStyle.scss";

html,
body {
  margin: 0;
}

@font-face {
  font-family: "Tangerine";
  src: url("/assets/fonts/Tangerine/Tangerine-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Tangerine";
  src: url("/assets/fonts/Tangerine/Tangerine-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "Cormorant";
  src: url("/assets/fonts/Cormorant/static/Cormorant-Regular.ttf")
    format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Cormorant";
  src: url("/assets/fonts/Cormorant/static/Cormorant-bold.ttf")
    format("truetype");
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 8px 0;
  font-family: "Garamond ";
}
body {
  font-family: "Cormorant", Garamond;
  font-size: 16px;
  //   background-color: var(--background);
  color: var(--light);
}

.game-container {
  position: relative; // to allow z-index to go over canvas
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 2;

  .header {
    visibility: hidden;
    background-color: var(--brown);
    width: 100%;
    text-align: center;
  }

  .main-menu {
    display: flex;
    flex-direction: column;
    z-index: 10;
    position: absolute;
    left: 50%;
    //   top: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    .header {
      font-size: 1.5rem;
      padding: 16px 32px;
    }
    button {
      color: inherit;
      padding: 16px 32px;
      font-size: 1.25rem;
      background-color: var(--brown);

      &:hover {
        color: var(--white);
        &:disabled {
          color: inherit;
        }
      }

      &:disabled {
        background-color: var(--darkgrey);
      }
    }
    //   }
  }

  .card-container {
    background-color: var(--brown);
    // display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    display: none;

    .card {
      width: 100px;
      height: 200px;
      max-height: 200px;
      overflow: hidden;
      background-color: var(--light);
      border: 1px solid var(--darkgrey);
      display: flex;
      flex-direction: column;
      align-items: center;
      color: var(--darkgrey);
      cursor: pointer;

      &:hover {
        transform: translate(3px, -3px);
      }

      &__title {
        text-align: center;
        font-size: 1.1rem;
        border-bottom: 1px solid var(--darkgrey);
        padding: 8px;
        position: relative;

        .circle {
          position: absolute;
          right: 1px;
          top: 1px;
          border: 1px solid var(--darkgrey);
          border-radius: 100%;
          padding: 4px;
        }
      }

      img {
        width: 100px;
        height: 100px;
        display: block;
      }

      &__body {
        padding: 8px;
        text-align: center;
      }
    }
  }
}

img {
  display: none;
}

// .ui-container {
//   z-index: 10;
//   position: absolute;
//   left: 50%;
//   top: 50%;
//   transform: translate(-50%, -50%);

canvas {
  position: fixed;
  /* pointerEvents = 'none'; */
  top: 0;
  left: 0;
  z-index: -1;
}

// .game-characters {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-around;
//   align-content: center;
//   align-items: center;
//   gap: 96px;
// }

// .game-moves {
//   margin: 16px auto;
//   max-width: 50%;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
// }

// .game-moves > button {
//   width: 200px;
// }

// .game-moves > button:focus {
//   /* border: solid 1px black; */
//   background-color: black;
// }
