.game {
    margin: 0;

}

.game-characters {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.game-moves {
    margin: 16px auto;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}