.game {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.game-characters {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    gap: 96px;

}

.game-moves {
    margin: 16px auto;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.game-moves>button {
    width: 200px;
}

.game-moves>button:focus {
    /* border: solid 1px black; */
    background-color: black;
}